dist/
node_modules/
example/node_modules
example/dist
tests/screenshots/*
.env
.next
.idea
.DS_Store
.vercel
yarn-error.log
leather-chromium.zip
packages
web-ext-artifacts/
.yalc/
yalc.lock
coverage
release_body.md
trace*
/test-results/
/playwright-report/
/playwright/.cache/
leather-styles
.netlify
./.vscode/settings.json
storybook-static
